Some rules
1) no saying “well actually”

When you engage in bikeshedding you discourage people from asking questions and learning. Are you trying to help, or just showing off? Instead, let the conversation take its course. If it’s a critical issue you can address it when you pair program with that person.

2) no feigning surprise

“You mean you don’t know who Richard Stallman is??” is not helpful :) Instead share knowledge openly. There is no shame in not knowing something, it just means you haven’t encountered it yet.

3) no backseat driving

Jumping in at the tail end of a conversation to interject your opinion is distracting and could prevent your colleagues from learning on their own. Instead ask if they would like you to join the conversation.

4) No harassment regardless of gender, sexual orientation, disability, physical appearance, body size, race, religion or technical ability. 

Being offended is a very subjective experience, but if you make any person feel uncomfortable and they address it with you, apologize and cease immediatly.

5) If something looks hard it’s probably because you’ve never seen it before.

You learn faster than you give yourself credit for so challenge yourself. Dive into something crazy, you have the support of everyone here.

6) Take breaks. Eat popcorn together. Create slang, phrases, memes.